---
# Save submitted data to database
saveToDatabase: false
# Set database type to use (mysql/postgresql/influx1/influx2)
databaseType: mysql
database:
  host: localhost
  user: root
  password: changeme
  database: weather
# Password/key/secret to secure submission endpoint
stationKey: aSecretKey
# Enable forwarding data to other weather services
enableRelay: true
relays:
  - enabled: true # Enable relay
    host: https://weatherstation.wunderground.com/weatherstation/updateweatherstation.php # URL of where to send the data to. DO NOT ADD A TRAILING /
    format: wunderground # Format the data needs to be sent as (wunderground/wow/windy)
    stationID: station1 # ID used to send the data
    stationKey: blahblah # Key used to send the data (This is your API key)
  - enabled: true # Enable relay
    host: http://wow.metoffice.gov.uk/automaticreading
    format: wow
    stationID: station1
    stationKey: blahblah
  - enabled: true
    host: https://stations.windy.com/pws/update
    format: windy
    stationID: station1
    stationKey: blahblah
